<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    <form method="POST" action="/urls/<%= shortURL %>/" >
        <li>ShortURL : <%= shortURL%></li>
        <br>
        <input type="text" name="newLongURL" value= <%= longURL %>>
        <input type="submit" value="Update"> </li>
      </form>
</body>
</html>