<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
  <title>TinyApp</title>
</head>
<body>
    <ul>
    <% for (url in urls) { %>
        <li><%= urls[url].shortURL %> - <%= urls[url].longURL%><a href = "/urls/<%= urls[url].shortURL  %>">Edit</a><form method="POST" action="/urls/<%= urls[url].shortURL%>?_method=DELETE"><input type="submit" value="Delete"></form></li>
    <% } %>
</ul>
</body>
</html>
