<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!--
     <header>

   </header>
   // -->
   <br>
     Register New User : <br>
    <form method="POST" >
        <input  type="email" name="email"><br><input type="password" name = "password" > <br>
        <input type = "submit" formaction="/register" value = "Register" >
    </form>
 </body>
</html>